<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Indexing and Sync with odoo</title>
</head>
<body>
<div>
    <div>
        <form action="{% url 'medicine_sync_from_odoo' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Sync Data from Odoo</button>
        </form>
    </div>
    <div>
        <form action="{% url 'medicine_sync_to_odoo' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Sync Data to Odoo</button>
        </form>
    </div>
</div>
</body>
</html>